@font-face {
  font-family: "Berlin Type";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/BerlinType/BerlinTypeWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: "Berlin Type";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/BerlinType/BerlinTypeWeb-Bold.woff") format("woff");
}

// TOOD:
// ::-webkit-scrollbar {
//   width: 15px;               /* width of the entire scrollbar */
// }

// ::-webkit-scrollbar-track {
//   background: transparent;        /* color of the tracking area */
// }

// ::-webkit-scrollbar-thumb {
//   width: 11px;
//   background-color: #333;    /* color of the scroll thumb */
//   border-radius: 20px;       /* roundness of the scroll thumb */
//   border: 3px solid #333;  /* creates padding around scroll thumb */
// }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.clampTwoLines {
  overflow: hidden;
  hyphens: auto;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.clampThreeLines {
  overflow: hidden;
  hyphens: auto;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clampFourLines {
  overflow: hidden;
  hyphens: auto;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#__next {
  height: 100%;
}

.map-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .map {
    height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.popup {
  height: 100px;
  width: 120px;
  border: 2px solid;
  border-radius: 10px;
  
  background: var(--chakra-colors-blur-white);
  backdrop-filter: blur(20px);
  background-blend-mode: lighten;
  pointer-events: none;
}

.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  .ratio {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    left: 0;

    div,
    img,
    picture {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.svg {
  filter: invert(18%) sepia(82%) saturate(4434%) hue-rotate(355deg)
    brightness(96%) contrast(85%);
  transition: filter 0.3s;
}

.svgHover {
  &:hover .svg {
    filter: invert(13%) sepia(17%) saturate(7488%) hue-rotate(306deg)
      brightness(99%) contrast(106%);
  }
}

@keyframes loadingAnimationCross {
  0% {
    width: 0%;
    left: 0px;
    right: auto;
  }
  49.99% {
    width: 100%;
    left: 0px;
    right: auto;
  }
  50% {
    width: 100%;
    left: auto;
    right: 0px;
  }
  99.99% {
    width: 0%;
    left: auto;
    right: 0px;
  }
}

.loadingbar {
  display: none;
  width: 0px;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  &.loading {
    display: block;
    animation: loadingAnimationCross 1.5s infinite;
  }
}

.maplibregl-popup {
  .maplibregl-popup-tip {
    width: 1px;
    height: 10px;
    border: none !important;
    z-index: 1;
    background-color: #333;
  }

  .maplibregl-popup-content {
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}
// .mapboxgl-popup-tip,
// <div class="maplibregl-popup mapboxgl-popup maplibregl-popup-anchor-bottom mapboxgl-popup-anchor-bottom" style="max-width: 240px; transform: translate(-50%, -100%) translate(400px, 175px);"><div class="maplibregl-popup-tip mapboxgl-popup-tip"></div><div class="maplibregl-popup-content mapboxgl-popup-content">Construction on the Washington Monument began in 1848.<button class="maplibregl-popup-close-button mapboxgl-popup-close-button" type="button" aria-label="Close popup">×</button></div></div>

.spider-leg-container {
  width: 1px;
  height: 1px;
  overflow: display;
  will-change: transform;
}

.spider-leg-container:hover {
  cursor: pointer;
}

// .spider-leg-container .spider-leg-pin {
//   position: relative;
//   z-index: 1;
// }

.spider-leg-container .spider-leg-pin.default-spider-pin {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  transform: translateY(-16px) translateX(-16px);
}

// .spider-leg-container .spider-leg-line {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 1px;
//   background: transparent; // linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #660D36 33%, #660D36);
//   transform-origin: bottom;
//   z-index: 0;
//   height: 0;
// }

// .spider-leg-container:hover .spider-leg-line { background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, #fff 33%, #fff); }

/* Animations specific styles */

// .spider-leg-container.animate {
//   -webkit-transition: margin 0.15s linear;
//   -moz-transition: margin 0.15s linear;
//   -ms-transition: margin 0.15s linear;
//   -o-transition: margin 0.15s linear;
//   transition: margin 0.15s linear;
// }

// .spider-leg-container.initial,
// .spider-leg-container.exit {
//   margin-left: 0 !important;
//   margin-top: 0 !important;
//   height: 0;
// }

// .spider-leg-container.animate .spider-leg-line {
//   -webkit-transition: all 0.15s linear;
//   -moz-transition: all 0.15s linear;
//   -ms-transition: all 0.15s linear;
//   -o-transition: all 0.15s linear;
//   transition: all 0.15s linear;

//   -webkit-transition-delay: inherit;
//   -moz-transition-delay: inherit;
//   -ms-transition-delay: inherit;
//   -o-transition-delay: inherit;
//   transition-delay: inherit;
// }

// .spider-leg-container.animate.initial .spider-leg-line,
// .spider-leg-container.animate.exit .spider-leg-line { height: 0 !important }
