@font-face {
  font-family: 'Berlin Type';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/BerlinType/BerlinTypeWeb-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Berlin Type';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/BerlinType/BerlinTypeWeb-Bold.woff') format('woff');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

.map-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .map {
    height: 100%;
  }
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  .ratio {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;

    left: 0;

    div,
    img,picture {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
} 


@keyframes loadingAnimationCross {
  0%   { width: 0%; left: 0px; right: auto;}
  49.99% { width: 100%; left: 0px; right: auto;}
  50% { width: 100%; left: auto; right: 0px;}
  99.99% { width: 0%; left: auto; right: 0px;}
}

.loadingbar {
  display: none;
  width: 0px;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  &.loading {
    display: block;
    animation: loadingAnimationCross 1.5s infinite;
  }
}
